<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="social-media-list">


          <li>
          {% if site.email %}
          <a href="mailto:{{ site.email }}" target="_top">
            <i class="fa fa-envelope fa-2x"></i>
          </a>
          {% endif %}
          {% if site.linkedin_username %}
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
          {% endif %}
          {% if site.youtube_channel %}
          <a href="https://www.youtube.com/channel/{{ site.youtube_channel }}" target="_blank">
            <i class="fa fa-youtube fa-2x"></i>
          </a>
          {% endif %}
          {% if site.facebook_username %}
          <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
            <i class="fa fa-facebook fa-2x"></i>
          </a>
          {% endif %}
          {% if site.instagram_username %}
          <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
          </a>
          {% endif %}
          {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
          {% endif %}
          {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
          {% endif %}
          {% if site.google_plus_username %}
          <a href="https://plus.google.com/+{{ site.google_plus_username }}" target="_blank">
            <i class="fa fa-google-plus fa-2x"></i>
          </a>
          {% endif %}


          </li>


        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a></li>
          <li>+98 930 6134848</li>
        </ul>

      </div>

      <div class="footer-col  footer-col-3">
         <p class="text">
            {{ site.description }}
      </div>
    </div>


  </div>

</footer>
